<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>0.2.1</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/sakeven/Selected-Release/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gyZTNONhuZUnxRNatLw6Lwj9KTHi8DaZXX+m8s6dZ+Y=</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Based on the address, GPT provides better suggestions and responses.</string>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>selectedext</string>
			</array>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>selected extension</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>selected extension</string>
			<key>UTTypeIdentifier</key>
			<string>io.kitool.selected.ext</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>selectedext</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
